/*

	All things that will be affected by resizing of screen using media query
	Copy this over to create custom media querries for each supported resolution

*/
html {
	overflow-y: hidden;
	padding: 0;
	margin: 0;
	display: inline;

}
body {
	padding: 0;
	margin: 0;
	height: 100%;	
}
.view_wrap {
	padding: 0;
	margin: 0;
	height: 100%;
}
.column {
	display: inline-block;
	padding: 5px;
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	vertical-align: top;
}

.left_column {
	width: 250px;
	

}

.right_column {
	width: 250px;


}


.center_column {
	width: 650px;

}


.info_column {
	width: 250px;
	text-align: left;

}

.event_log {
list-style:none;


}


/* LM */
table.lmt {
	border-collapse: separate;
	border-spacing: 3px;
}
table.lmt td {
	padding: 0px;
}
/* Connecting icons */
div.lmUp.con {
	background: url('../../images/link_down.png') no-repeat center;
} 
div.lmDown.con {
	background: url('../../images/link_up.png') no-repeat center;
}
div.lmLeft.con {
	background: url('../../images/link_right.png') no-repeat center;
} 
div.lmRight.con {
	background: url('../../images/link_left.png') no-repeat center;
}

/* Walls */
div.wall {
	background: rgba(128,128,128,0.8);
}
/* Local map wall/connector containers */
a.lmUp, a.lmLeft, a.lmRight, a.lmDown {
	background: none;
	z-index: 2;
}
a.lmUp:hover div, a.lmLeft:hover div, a.lmRight:hover div, a.lmDown:hover div {
	background: blue;
}
.lmUp, .lmDown {
	position: absolute;
	left: 0px;
	width: 120px;
	height: 5px;
	/* This is required for IE6, otherwise it renders as higher than 5px */
	font-size: 0px;
}
.lmUp {
	top: 0px;
	border-radius: 5px 5px 0 0;
}
.lmDown {
	bottom: 0px;
	border-radius: 0 0 5px 5px;
}
.lmRight, .lmLeft {
	position: absolute;
	top: 0px;
	height: 120px;
	width: 5px;
}
.lmRight {
	right: 0px;
	border-radius: 0 5px 5px 0;
}
.lmLeft {
	left: 0px;
	border-radius: 5px 0 0 5px;
}
/*Local Plot/Warp Area*/
.lm_sector div.lmp {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 18px;
	z-index: 2;
}
/*Local trader and forces*/
.lm_sector div.lmtf {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 18px;
	text-align:right;
	z-index: 2;
}
/*Local locations*/
.lm_sector div.lmloc {
	text-align: center;
	position: absolute;
	top: 28px;
	left: 0px;
	width: 120px;
	height: 18px;
	z-index: 2;
}
/*Local sector number*/
.lm_sector div.lmsector {
	position: absolute;
	top: 46px;
	left: 10px;
	width: 100px;
	height: 20px;
	text-align: center;
	
}
/*Local port section*/
.lm_sector div.lmport {
	text-align: left;
	position: absolute;
	top: 70px;
	height: 40px;
	z-index: 2;
}
.lm_sector div.lmport.a {
	left: 0px;
}
.lm_sector div.lmport.b {
	left: 5px;
}
.lm_sector {
	position: relative;
	width: 120px;
	height: 120px;
	min-width: 120px;
	min-height: 120px;
	border-radius: 5px;
	border: 1px solid #4C93E0;
}
.lm_sector .move_hack {
	background: none;
	height: 120px;
	width: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}